.southwestern_header_style {
    color: #C00000;
}

.southwestern_header_position1 {
    margin-left: 3%;
    width: 90%;
}

.southwestern_header_position2 {
    margin-left: 3%;
}

.brownColorFont {
    color: #8B4513;
}

.diamondSpan {
    font-size: 23px;
}

.diamondParagraph {
    margin-bottom: -1%;
    text-indent: 4%;
}

.diamondParagraph_position{
    margin-left: 10%;
}

.diamondDivPostion {
    margin-top: -1%;
}